.a{
    background-color: rgb(224, 224, 127);
}
.b{
    background-color: rgb(96, 245, 195);
}
.c{
    background-color: rgb(161, 244, 216);
}
.d{
    background-color:rgb(229, 216, 198);
}
.e{
    background-color: rgb(209, 177, 136);
}
.f{
    background-color: rgb(247, 210, 156);
}